.activity-card {
     width: 250px;
     border: #50a3a2 1px solid;
     font-family: "Source Sans Pro", sans-serif;
     padding:15px ;
     margin: 15px;
     border-radius: 10px; 
     display: block; 
     align-items: center;
     box-shadow: 5px 5px 5px rgb(132, 132, 132);
     gap: 10px 20px;
     overflow: hidden;
     height: 500px;
}

.activity-card img {
    max-width: 250px;
}


.activity-card-in {
    width: 100%;
    border-radius: 10%;
}

.activity-card p {
    color: #50a3a2;
    margin: 7px;
}

.activity-card button {
    border-radius: 20px;
    width: 100%;
    padding: 4px;
    margin: 4px;
    font-weight:bold;
    
}

.button-blue {
    background-color: #50a3a2; 
    color: white;
}

.button-green {
    background-color: #25b547; 
    color: white;
}

.float-right {
    float: right;
    padding-right: 20px;
}

.float-left {
    float: left;
    padding-left: 20px;
}


