.status-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr))
}





@media screen and (max-width: 768px) {
    .status-list {
          
          display: block;
          margin-bottom: 20px;
        }
      }