.status-list {
    width: 100%;
    
    /* grid-template-columns: repeat(3,1fr); */
}



@media screen and (max-width: 768px) {
    .status-list {
          
          display: block;
          margin-bottom: 20px;
        }
      }