
.navbar {
    width: 110%;
    background-color: rgb(55, 157, 180);
    overflow: auto;
    margin-left: -30px;
}
  
.navbar a {
    float: left;
    width: 33% /* Four links of equal widths */
    /* text-align: center; */
} 

.navbar a img {
    width: 50px;
}

.navbar-home {
  text-align: start;

}

.navbar-logo {
  text-align: center;

}

.navbar-profile {
  text-align: end;

}
  

/* @media screen and (max-width: 300px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
} */
