h2 {
    align-self: center;
    
}

.form-activity{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    height: auto;
    padding: 30px;
}

.form-activity  {
    display:flex;

}

.form-activity input {
    border: 1px solid;
    border-radius: 5px;
    margin: 20px 0px;
    
}

.form-activity select {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
}

input[type=text], input[type=url], input[type=number] {
    height: 2em;
    width: 80%;
}

.form-activity input[type=text]::placeholder {
   
   width: 100%;
   
}

.form-activity input[type=submit] {
    color: rgb(245, 248, 245);
    background-color: #60ba71;
    padding: 5px 10px;
 }

 .form-activity input[type=submit] :hover {
    background-color: #38c653;
    border-color: #38c653;
    box-shadow: none;
  }



.label {
    font-size: 20px;
    font-weight: 600;
    vertical-align: text-bottom;
   
}

.time {
    margin: 20px 0px;
    display: flex;
}

.time-in {
    align-items: flex-start;
}

.img-radio {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .img-radio {
        display: block;
    } 
  }

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
[type=radio] + img {
    cursor: pointer;
  }

  [type=radio]:checked + img {
    outline: 2px solid #60ba71;
  }

.img-radio div {
    width: 100%;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    
}

.img-radio label img {
    max-width: 180px;
    padding: 10px;
}




