.img-profile {
    width: 250px;
    border: #50a3a2 3px solid;
 
 }
 
form input {
     border: 2px solid #50a3a2;
     background-color: rgba(252, 252, 252, 0.2);
     width: 250px;
     border-radius: 3px;
     font-family: "Source Sans Pro", sans-serif;
     padding: 10px 15px;
     margin: 0 auto 10px auto;
     display: block;
     text-align: center;
     font-size: 18px;
     color: rgb(39, 25, 25);
     font-weight: 300px;
}

  
form button {
     appearance: none;
     outline: 0;
     background-color:  #50a3a2;
     border: 0;
     padding: 10px 15px;
     color: white;
     border-radius: 3px;
     width: 250px;
     font-size: 18px;
}
.box-form {
     border: #50a3a2 3px solid;
     font-family: "Source Sans Pro", sans-serif;
     padding: 24px 15px;
     margin-block: 24px 10px;
     border-radius: 15px;
   
    
}