.status-card {
    display: grid;
    
}

.status-card {
   margin: 10px;
}

.img-container {
    display:flex;
    justify-content: center;

}

.img-container img {
    max-width: 250px;
    margin: 20px 0px;
}

.card {

    padding: 15px;
    background-color: #ffff;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0,0,0,.1); */
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #3f52a045;
}

.card .border img {
    width: 100%;
    max-width: 300px;  
    z-index: 12;
    margin: 0 auto;
}

.card .card-body  {
    display: flex;
    flex-direction: column;
    color: #3f52a0;
}

.card .card-body div {
    display: flex;
    align-items: center;
}

.card .card-body .title  {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.card .card-body .content  {
    margin: 10px 0px;
    align-items: center;
}

.card .card-body span {
    font-size: 16px;
}

.card .card-body .title {  
     font-size: 20px;
}

.card .card-body svg {
    min-width: 26px;
    width: 26px;
    height: 26px;
    padding: 0px 16px;
}

span {
    padding: 0px 16px;
}

svg path {
    stroke: #3f52a0; 
    stroke-width: 2;
    fill: #3f52a0;
}

/* .card .card-body .text {
    font-size: 180%;
    line-height: 120%;
    
} */

.card .card-body .date {
    color: gray;
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {

.status-card {
        display: block;
    }
.card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 70px;
    }

.card .card-body .content  {
        align-items: center;
        margin: 10px 0px;
        line-height: 2em;
        
    }
  }