.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.navbar a {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0px 10px;
  font-size: 40px;
}
.navbar a img {
  width: 100%;
  height: 80%;
  
}
