.navbar {
    width: 100%;
    background-color: rgb(55, 157, 180);
    overflow: auto;
    padding: 10px;
    margin: -20px;
}
.navbar a {
    float: left;
    width: 33% /* Four links of equal widths */
    /* text-align: center; */
}
.navbar a img {
    width: 30px;
}
.navbar-home {
  text-align: start;
}
.navbar-logo {
  text-align: center;
}
.navbar-profile {
  text-align: end;
}