.exe-card {
    border: #50a3a2 1px solid;
    font-family: "Source Sans Pro", sans-serif;
    padding:10px ;
    margin: 15px;
    border-radius: 10px; 
    flex-direction: column;
    flex-direction: row;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(132, 132, 132);
}

.activity-card img {
   height: 150px;
   border-radius: 10px;
}

.activity-card p {
   color: #50a3a2;
   margin: 7px;
}

.activity-card button {
   border-radius: 20px;
   width: 100%;
   padding: 4px;
   margin: 4px;
   font-weight:bold;
   
}

.button-blue {
   background-color: #50a3a2; 
   color: white;
}

.button-green {
   background-color: #25b547; 
   color: white;
}

.float-right {
   float: right;
}

.float-left {
   float: left;
}
.exc-p {
    padding: 10px;
  display: flex;
  border: #25b547 2px solid;
  justify-content:space-around;
  padding: 0px 20px;
}
form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}