.form-post {
    flex-flow: column;
    border-radius: 2%;
    align-items: center;
}

textarea {
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    border: 2px solid #3f52a0;
    padding: 12px 12px;
}

.form-post h1 {
    color: #50a3a2;
    /* background-color: #50a3a2; */
    margin: 0px;
    padding: 15px;
    font-size: 29px;
}

-form-middle {
    display: flex;
    flex-flow: column;
    gap: 10px;
    border: #50a3a2 0px dashed;
    align-items: center;
    padding: 10px;
}

.post-form-middle p {
    color: rgb(43, 194, 40);
    font-weight: 500;
    background-color: rgba(227, 232, 237, 0.451);
    border-radius: 20px;
    margin: 0px;
    padding:  5px 10px;
    
}

.image-post {  
    float:right;
    width: 100px;
}

.image-post img{  
    float:left;
    width: 100px;
}

.input-post {
    border: none;
}

input[type=file] {
    width: 0px;
    border: red;
}

input[type=file]::file-selector-button  {
    width: 2px;
}

.image-upload>input {
    display: none;
  }

.post-button {
    background-color: rgb(123, 220, 122);
    width: 50%;
    margin: 15px;
    border-radius: 15px;
    padding: 3px 7px;
    border: 0px;
}
